In [73]:
import pandas as pd

df = pd.read_csv('katalog_gempa_v2.tsv', sep='\t', low_memory=False)

In [74]:
df.shape
df.head()

,eventID,datetime,latitude,longitude,magnitude,mag_type,depth,phasecount,azimuth_gap,location,...,doubleCouple,clvd,strikeNP1,dipNP1,rakeNP1,strikeNP2,dipNP2,rakeNP2,azgapFM,misfit
0,bmg2008vkye,2008-11-01 00:31:25.143741+00:00,-0.604440,98.895531,2.989742,MLv,20,6.0,146.70738,"Southern Sumatra, Indonesia",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,bmg2008vlag,2008-11-01 01:34:29.660856+00:00,-6.611860,129.387220,5.507549,mb,30,62.0,45.46764,Banda Sea,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,bmg2008vlaj,2008-11-01 01:38:14.802129+00:00,-3.650586,127.990680,3.539674,MLv,5,4.0,331.97404,"Seram, Indonesia",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,bmg2008vlbt,2008-11-01 02:20:05.909515+00:00,-4.198925,128.097000,2.424314,MLv,5,5.0,326.37993,Banda Sea,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,bmg2008vlcd,2008-11-01 02:32:18.756155+00:00,-4.091891,128.200470,2.410045,MLv,10,5.0,314.65474,Banda Sea,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
keep_cols = ['eventID', 'datetime', 'latitude', 'longitude', 'depth', 'magnitude', 'mag_type', 'location']
df = df[keep_cols].copy()

In [76]:
df['datetime'] = pd.to_datetime(df['datetime'], errors='coerce')

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121716 entries, 0 to 121715
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   eventID    121716 non-null  object
 1   datetime   121712 non-null  datetime64[ns, UTC]
 2   latitude   121716 non-null  float64
 3   longitude  121716 non-null  float64
 4   depth      121716 non-null  int64
 5   magnitude  121140 non-null  float64
 6   mag_type   121140 non-null  object
 7   location   121701 non-null  object
dtypes: datetime64[ns, UTC](1), float64(3), int64(1), object(3)
memory usage: 7.4+ MB

In [78]:
df.dtypes

eventID                   object
datetime     datetime64[ns, UTC]
latitude                 float64
longitude                float64
depth                      int64
magnitude                float64
mag_type                  object
location                  object
dtype: object

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121716 entries, 0 to 121715
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   eventID    121716 non-null  object
 1   datetime   121712 non-null  datetime64[ns, UTC]
 2   latitude   121716 non-null  float64
 3   longitude  121716 non-null  float64
 4   depth      121716 non-null  int64
 5   magnitude  121140 non-null  float64
 6   mag_type   121140 non-null  object
 7   location   121701 non-null  object
dtypes: datetime64[ns, UTC](1), float64(3), int64(1), object(3)
memory usage: 7.4+ MB

In [80]:
df.isna().sum()

eventID        0
datetime       4
latitude       0
longitude      0
depth          0
magnitude    576
mag_type     576
location      15
dtype: int64

In [81]:
df = df.dropna(subset=['datetime', 'magnitude', 'location']).copy()

In [82]:
df.isnull().sum()

eventID      0
datetime     0
latitude     0
longitude    0
depth        0
magnitude    0
mag_type     0
location     0
dtype: int64

In [83]:
df.head()

,eventID,datetime,latitude,longitude,depth,magnitude,mag_type,location
0,bmg2008vkye,2008-11-01 00:31:25.143741+00:00,-0.604440,98.895531,20,2.989742,MLv,"Southern Sumatra, Indonesia"
1,bmg2008vlag,2008-11-01 01:34:29.660856+00:00,-6.611860,129.387220,30,5.507549,mb,Banda Sea
2,bmg2008vlaj,2008-11-01 01:38:14.802129+00:00,-3.650586,127.990680,5,3.539674,MLv,"Seram, Indonesia"
3,bmg2008vlbt,2008-11-01 02:20:05.909515+00:00,-4.198925,128.097000,5,2.424314,MLv,Banda Sea
4,bmg2008vlcd,2008-11-01 02:32:18.756155+00:00,-4.091891,128.200470,10,2.410045,MLv,Banda Sea

In [84]:
df['datetime'] = pd.to_datetime(df['datetime'], errors='coerce')

In [85]:
df = df.reset_index(drop=True)

In [86]:
df.isnull().sum()

eventID      0
datetime     0
latitude     0
longitude    0
depth        0
magnitude    0
mag_type     0
location     0
dtype: int64

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121125 entries, 0 to 121124
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   eventID    121125 non-null  object
 1   datetime   121125 non-null  datetime64[ns, UTC]
 2   latitude   121125 non-null  float64
 3   longitude  121125 non-null  float64
 4   depth      121125 non-null  int64
 5   magnitude  121125 non-null  float64
 6   mag_type   121125 non-null  object
 7   location   121125 non-null  object
dtypes: datetime64[ns, UTC](1), float64(3), int64(1), object(3)
memory usage: 7.4+ MB

In [88]:
df['magnitude'].min(), df['magnitude'].max()

(np.float64(0.2021095979119103), np.float64(7.9234722))

In [89]:
df_filtered.head()

,eventID,datetime,latitude,longitude,depth,magnitude,mag_type,location
0,bmg2015aaiz,2015-01-01 04:33:02.650568+00:00,-1.875930,120.303391,24,3.326321,MLv,"Sulawesi, Indonesia"
1,bmg2015aakf,2015-01-01 05:13:08.163493+00:00,-1.991261,120.411621,17,3.435773,MLv,"Sulawesi, Indonesia"
2,bmg2015aaya,2015-01-01 12:07:10.918619+00:00,-10.135225,113.839798,59,4.250569,MLv,"South of Java, Indonesia"
3,bmg2015aazj,2015-01-01 12:53:51.516325+00:00,-2.689607,129.363144,21,4.259353,MLv,"Seram, Indonesia"
4,bmg2015abff,2015-01-01 15:45:50.473693+00:00,-9.322252,113.325302,29,4.174690,MLv,"South of Java, Indonesia"

In [90]:
df.isna().sum()

eventID      0
datetime     0
latitude     0
longitude    0
depth        0
magnitude    0
mag_type     0
location     0
dtype: int64

In [91]:
df.duplicated().sum()

np.int64(0)

In [95]:
df_filtered.to_csv('gempa_2015_2025_clean.csv', sep=',', index=False,float_format='%.8f')